################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Codigo/.vs/Codigo/FileContentIndex/3f3810a5-9e67-4d69-890f-a2d174f960c4.vsidx
